@import "tailwindcss";

@theme {
  --font-display: "popreg";
  --font-display-bold: "popreg-bold";
}

@font-face {
  font-family: "popreg";
  src: url(./assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "popreg-bold";
  src: url(./assets/fonts/poppins/Poppins-Bold.ttf);
}

.transition-ui {
  @apply transition-all duration-300 ease-in-out;
}

.color-primary {
  color: #fffd01;
}


.nav .active i {
  color: #fffd01 !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}